.wrapper {
    margin: 1vmin 1vmin 1vmin;
    padding: 2vmin 2vmin 2vmin;
    font-family: helvetica;
    font-size: 4vmin;
    color: rgb(171, 178, 192);
    text-align: justify;
}

.tit_res {
    font-family: helvetica;
    font-size: 10vmin;
    border: 1vmin solid rgb(171, 178, 192);
    text-align: center;
    color: rgb(171, 178, 192);
    margin: 1vmin 1vmin 1vmin;

}

html {
    height: 100%;
    background-image: linear-gradient(rgb(40, 44, 52), rgb(24, 26, 31));
}